.slider {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  padding-bottom: 229px;
  font-family: "Helvetica";

  &__title {
    margin-bottom: 32px;
    font-weight: 300;
    font-size: 72px;
    @media (max-width: 768px) {
      padding: 0 30px;
      font-size: 60px;
    }
  }
  &__text {
    margin-bottom: 80px;
    font-weight: 300;
    font-size: 18px;
    @media (max-width: 768px) {
      padding: 0 30px;
      font-size: 16px;
    }
  }
  &__btn {
    padding: 16px 96px;
    margin-bottom: 64px;
    font-weight: 400;
    font-size: 18px;
    background: linear-gradient(92.82deg, #fc4060 35%, #8061fd 70%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 2px solid;
    border-image: linear-gradient(92.82deg, #fc4060 0%, #8061fd 100%);
    border-image-slice: 1;
  }
  .slider__controls {
    display: flex;
    justify-content: space-between;
  }
  .slider__dot {
    width: 16px;
    height: 16px;
    margin: 0 16px;
    border: 2px solid #c4c4c429;
    border-radius: 50%;
  }
  .slider__dot--active {
    border: 2px solid #ffffff;
  }
  @media (max-width: 768px) {
    text-align: center;
  }
}
