.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  padding: 32px;
  margin-bottom: 184px;
  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    font-family: "Helvetica";
    font-weight: 400;
    color: #a0a3a7;
  }
  &__button {
    margin-left: auto;
    margin-right: 0;
    padding: 16px 24px;
    font-size: 14px;
    background: linear-gradient(93.22deg, #e1e1e1 8.37%, #ffffff 99.95%);
    box-shadow: 0px 4px 50px rgba(37, 37, 37, 0.08),
      inset 1px 1px 1px rgba(135, 135, 135, 0.32);
    border-radius: 999px;
    @media (max-width: 768px) {
      padding: 10px 12px;
      font-size: 12px;
    }
  }
}
